.container {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  /* gap: 0.25rem; */
  width: 100%;
  height: 100%;
  padding: 0.25rem 0.75rem;
  border: 1px solid rgba(var(--card-border-rgb), 0.3);
  border-radius: 10px;
  color: rgb(var(--card-border-rgb));
  &:hover {
    background-color: rgba(var(--card-rgb), 0.3);
  }
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.arrowBorder {
  border: 2px solid #1d91a0;
  border-radius: 50%;
}

.title {
  margin: 0;
  font-size: 0.7rem;
}

.directionText {
  font-size: 2.5rem;
  font-weight: 400;
}

.windSpeedContainer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.avg {
  font-size: 2.5rem;
  line-height: 0.96;
}

.gustContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  font-size: 0.75rem;
}

.gust {
  font-size: 1.4rem;
}

.small {
  font-size: 0.75rem;
}

.spinnerContainer {
  width: 20px;
  height: 50%;
  margin: 0 auto;
}

/* @media (max-width: 500px) {
  .container {
    height: 106px;
  }
  .flexContainer {
    gap: 0.4rem;
  }
  .card {
    padding: 0.75rem;
  }
  .arrowBorder {
    font-size: 0.9rem;
    border-width: 2px;
  }
  .title {
    margin: 0;
    font-size: 1.2rem;
  }
  .windSpeedContainer {
    align-items: end;
    gap: 0.5rem;
  }

  .item {
    font-size: 0.9rem;
  }

  .avg {
    font-size: 2.6rem;
    line-height: 0.98;
  }

  .gust {
    font-size: 1.3rem;
  }

  .small {
    font-size: 0.6rem;
  }
} */
