.wrapper {
  max-width: 100%;
}

.container {
  max-width: 100%;
  max-height: 435px;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  &:has(:focus-visible) {
    outline: 2px auto -webkit-focus-ring-color;
  }
}

.lineChart svg {
  outline: none;
}

.container::-webkit-scrollbar {
  width: 20px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(var(--callout-border-rgb));
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(var(--callout-border-rgb));
  background-color: rgba(var(--callout-border-rgb), 0.3);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.y-axis-wrapper {
  background: white;
  position: sticky;
  left: 0;
  z-index: 1003;
}
/* Aligns with the graph component with the same border, margin is added to cover full height of component */
.fallback {
  height: 300px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 23px;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

@media (max-width: 700px) {
  .container {
    max-width: 450px;
  }
}
