.raspWrapper {
  overflow: hidden;
  border-radius: 8px;
  width: min(450px, 100%);
  max-width: 100%;
  /* border: 1px solid transparent; */
}

.raspImg {
  max-width: 100%;
  height: auto;
  /* object-fit: contain; */
  display: block;
  border-radius: 8px 8px 0 0;
  border-top: 1px solid rgb(var(--border-rgb));
  border-left: 1px solid rgb(var(--border-rgb));
  border-right: 1px solid rgb(var(--border-rgb));
}

.rasp {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* min-width: 375px; */
}

.raspBtn {
  flex: 1 1 10%;
  width: 100%;
  padding: 1rem;
  border: none;
  border-top: 1px solid rgb(var(--border-rgb));
  border-left: 1px solid rgb(var(--border-rgb));
  border-bottom: 1px solid rgb(var(--border-rgb));
  background-color: rgba(var(--callout-rgb), 0.4);
  cursor: pointer;
  transition: background-color, border 200ms;
  &.active {
    background-color: rgba(var(--card-rgb), 0.3);
    border-color: rgb(var(--card-rgb));
    & + .raspBtn {
      border-left: 1px solid rgb(var(--card-rgb));
    }
  }
  &:first-of-type {
    border-radius: 0 0 0 8px;
  }
  &:last-of-type {
    border-radius: 0 0 8px 0;
    border-right: 1px solid rgb(var(--border-rgb));
    &.active {
      border-right: 1px solid rgb(var(--card-rgb));
    }
  }
  &:hover {
    background-color: rgba(var(--card-rgb), 0.4);
    border-color: rgb(var(--card-rgb));
    & + .raspBtn {
      border-left: 1px solid rgb(var(--card-rgb));
    }
  }
  &:active {
    background-color: rgba(var(--card-rgb), 0.3);
  }
}

@media (max-width: 500px) {
  .raspBtn {
    font-size: calc(0.6rem + 0.5vw);
    padding: 1rem 0.5rem;
  }
}
