.raspWrapper {
  overflow: hidden;
  border-radius: 8px;
  width: min(450px, 100%);
  max-width: 100%;
  margin: 1rem 0;
}

.imgShared {
  width: min(450px, 100%);
  height: min(450px, 100%);
  margin-top: -1px;
  background: url('/windgram-placeholder.jpg');
  background-size: contain;
  border-top: 0.5px solid rgb(109, 109, 255);
  border-left: 0.5px solid rgb(var(--card-rgb));
  border-right: 0.5px solid rgb(var(--card-rgb));
  transition: border 700ms;
  /* &:hover {
    border-top: 1px solid rgb(var(--card-border-rgb));
    border-left: 1px solid rgb(var(--card-border-rgb));
    border-right: 1px solid rgb(var(--card-border-rgb));
  } */
}

.raspImg {
  composes: imgShared;
  width: min(450px, 100%);
  height: min(450px, 100%);
  display: block;
  aspect-ratio: 1;
  &:hover {
    outline: 1px solid rgb(var(--card-border-rgb));
    outline-offset: -1px;
  }
  /* border-radius: 8px 8px 0 0; */
}

.error {
  composes: imgShared;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(var(--callout-rgb));
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.periodBtns {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.raspBtns {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.periodBtn {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.7rem;
  border: none;
  border-top: 1px solid rgb(var(--border-rgb));
  border-left: 1px solid rgb(var(--border-rgb));
  border-bottom: 1px solid rgb(var(--border-rgb));
  background-color: rgba(var(--callout-rgb), 0.4);
  cursor: pointer;
  transition: background-color 500ms, border 700ms;
  &.active {
    background-color: rgba(var(--card-rgb), 0.3);
    border-color: rgb(var(--card-rgb));
    & + .periodBtn {
      border-left: 1px solid rgb(var(--card-rgb));
    }
  }
  &:first-of-type {
    border-radius: 8px 0 0 0;
  }
  &:last-of-type {
    border-radius: 0 8px 0 0;
    border-right: 1px solid rgb(var(--border-rgb));
    &.active {
      border-right: 1px solid rgb(var(--card-rgb));
    }
  }
  &:hover {
    background-color: rgba(var(--card-rgb), 0.4);
    border-color: rgb(var(--card-rgb));
    & + .periodBtn {
      border-left: 1px solid rgb(var(--card-rgb));
    }
  }
  &:active {
    background-color: rgba(var(--card-rgb), 0.3);
  }
}

/* TODO: Fragile border states, need more robust solution */
.raspBtn {
  flex: 1 1 20%;
  width: 100%;
  padding: 1rem 0.9rem;
  font-size: 0.65rem;
  border: none;
  border-top: 1px solid rgb(var(--border-rgb));
  border-left: 1px solid rgb(var(--border-rgb));
  border-bottom: 1px solid rgb(var(--border-rgb));
  background-color: rgba(var(--callout-rgb), 0.4);
  cursor: pointer;
  transition: background-color 500ms, border 700ms;
  &.active {
    background-color: rgba(var(--card-rgb), 0.3);
    border-color: rgb(var(--card-rgb));
    & + .raspBtn {
      border-left: 1px solid rgb(var(--card-rgb));
    }
  }
  &:nth-of-type(11) {
    border-radius: 0 0 0 8px;
  }
  &:last-of-type {
    border-radius: 0 0 8px 0;
  }
  &:last-of-type,
  &:nth-of-type(5),
  &:nth-of-type(10) {
    border-right: 1px solid rgb(var(--border-rgb));
    &.active {
      border-right: 1px solid rgb(var(--card-rgb));
    }
  }
  &:hover {
    background-color: rgba(var(--card-rgb), 0.4);
    border-color: rgb(var(--card-rgb));
    & + .raspBtn:not(.raspBtn:nth-of-type(6)):not(.raspBtn:nth-of-type(11)) {
      border-left: 1px solid rgb(var(--card-rgb));
    }
  }
  &:active {
    background-color: rgba(var(--card-rgb), 0.3);
  }
}

@media (max-width: 500px) {
  .raspBtn {
    font-size: calc(0.5rem + 0.5vw);
    padding: 1rem 0.25rem;
  }
}
